:root {
	--vermelhoescuro: #AE3E63;
	--vermelhoclaro: #d3537e;
    --rosaescuro: #C670B1;
	--rosaclaro:#F6C6EA;

	--verdeagua: #6C9F97;
	--verdeescuro: #588F87;
	--verdeclaro: #CDF0EA;

    --cinza900: #1b1f27;
    --cinza800: #3c4049;

	--shadow1:#00000033;
	--shadow2:#ffffff00;


    --preto: #000000;
    --branco: #fff;
}

/* ---------- GLOBAL ----------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Montserrat", sans-serif;
}

body {
	color: var(--cinza900);
}

/* ---------- CABEÇALHO ----------- */
header {
	position: fixed;
	width: 100%;

	padding: 80px;
	padding-top: 15px;
	padding-bottom: 15px;

	display: inline-flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--cinza900);
	z-index: 10; /* sobreposição maior que outros index */
}

header nav {
	position: relative;
	display: flex;
	gap: 40px;
}

header nav a {
	text-decoration: none;
	align-self: center;
	font-weight: 300;
	color: var(--branco);
	font-weight: 500;
	transition: .4s ease;
}

header nav a:hover {
	color: var(--vermelhoclaro);
}

header .logo{
	text-decoration: none;
	padding-top: 2px;
}

.btn-forms {
	border: none;
	border-radius: 5px;

	padding: 10px 20px;

	background-color: var(--vermelhoescuro);
	font-size: 1.0em;
	font-weight: 700;
	color: var(--branco);

	cursor: pointer;
	transition: .4s ease;
}

.btn-forms:hover {
	background-color: var(--vermelhoclaro);
}

/*---------- SEÇÃO HOME -----------*/
#home {
	background-image: url(../images/background_home.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#home .text {
	width: 100%; /* Defina a largura para 100% para ocupar toda a largura da tela */
	min-height: 93vh; /* Garanta que a seção home tenha pelo menos a altura da tela */
	display: flex;
	justify-content: center; /* Centralize o conteúdo verticalmente */
	align-items: center; /* Centralize o conteúdo horizontalmente */
	padding-top: 90px;
  }


.text {
	text-align: center; /* Alinha o texto horizontalmente ao centro */
	flex-direction: column; /* Alinha os elementos verticalmente em coluna */
	justify-content: center; /* Centraliza verticalmente */
  }

  .text h1 {
	font-size: 4rem;
  }

  .text p {
	font-size: 2rem;
	padding-bottom: 1rem;
  }

#home .btn-forms {
	padding: 15px 50px;
	font-size: 1.2rem;
}


/*----------- SLIDESHOW COM OS PATROCINADORES -----------*/
.slider {
	max-width: 100%; /* Largura máxima responsiva */
	width: 100%; /* Para ocupar toda a largura */
	background: var(--branco);
	box-shadow: 0 10px 20px -10px var(--preto);
	display: flex;
	overflow: hidden;
  }

.slide {
	height: 120px;
	display: flex;
	align-items: center;
	animation: slideshow 50s linear infinite;
}

.slide img {
	width: 190px!important;
	height: 50px!important;
	padding: 0 50px 0 50px;
	}

@keyframes slideshow {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.slider::before,
.slider::after {
	height: 100px;
	width: 200px;
	position: absolute;
	content: "";
	background: linear-gradient(to right, var(--branco) 0%, var(--shadow2) 100%);
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}


/*----------- SEÇÃO SOBRE -----------*/
#about {
    position: relative;
	width: 100%; 
	min-height: 100vh; 
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about {
	background-image: url(../images/background_about.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#about .content {
    padding-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
	padding: 100px 0px 30px 0px;
	text-align: justify;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #0000009a;
}

#about p {
    font-size: 1rem;
}

#about b {
    color: var(--cinza800);
}

#about #textAbout {
    margin-right: 5em;
    margin-left: 80px;
}

#about .img {
    width: 25em;
	border: 10px solid var(--branco);
    margin-left: 5em;
	border-radius: 10px;
}
