:root {
	--vermelhoescuro: #c43c3c;
	--vermelhoclaro: #da5252;

	--verdeagua: #6C9F97;
	--verdeescuro: #588F87;
	--verdeclaro: #CDF0EA;

	--cinza900: #1b1f27;
	--cinza800: #3c4049;

	--shadow1: #00000033;
	--shadow2: #ffffff00;


	--preto: #000000;
	--branco: #fff;
}

/* ---------- GLOBAL ----------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Montserrat", sans-serif;
}

body {
	color: var(--cinza900);
}

/* ---------- CABEÇALHO ----------- */
header {
	position: fixed;
	width: 100%;

	padding: 60px;
	padding-top: 5px;
	padding-bottom: 5px;

	display: inline-flex;
	justify-content: space-between;
	align-items: center;

	background-color:rgb(37, 37, 37);
	z-index: 10;
	/* sobreposição maior que outros index */
}

header nav {
	position: relative;
	display: flex;
	gap: 30px;
}



header nav a {
	text-decoration: none;
	align-self: center;
	color: var(--branco);
	font-weight: 500;
	transition: .4s ease;
}

header nav a:hover {
	color: rgb(165, 165, 165);
	font-weight: 500;
}

header .logo {
	text-decoration: none;
	padding-top: 2px;
}

header .logo img {
	width: 60px;
}



.btn-forms {
	border: none;
	border-radius: 5px;

	padding: 10px 20px;

	background-color: var(--vermelhoescuro);
	font-size: 1.0em;
	font-weight: 700;
	color: var(--branco);

	cursor: pointer;
	transition: .4s ease;
}

.btn-forms:hover {
	background-color: var(--vermelhoclaro);
}

/*---------- SEÇÃO HOME -----------*/
#home {
	background-image: url(../images/background_home.png);
	background-size: cover;
	
	background-repeat: no-repeat;
}

#home .text {
	width: 100%;
	/* Defina a largura para 100% para ocupar toda a largura da tela */
	min-height: 100vh;
	/* Garanta que a seção home tenha pelo menos a altura da tela */
	display: flex;
	justify-content: center;
	/* Centralize o conteúdo verticalmente */
	align-items: center;
	/* Centralize o conteúdo horizontalmente */
}


.text {
	padding-top: 50px;
	text-align: center;
	/* Alinha o texto horizontalmente ao centro */
	flex-direction: column;
	/* Alinha os elementos verticalmente em coluna */
	justify-content: center;
	/* Centraliza verticalmente */
}

.text h1 {
	font-size: 4rem;
}

.text p {
	font-size: 2rem;
	padding-bottom: 1rem;
}

#home .btn-forms {
	padding: 15px 50px;
	font-size: 1.2rem;
}


/*----------- SLIDESHOW COM OS PATROCINADORES -----------*/
.slider {
	position: absolute;
	/* Define a posição como absoluta */
	bottom: 0;
	/* Alinha o slider na parte inferior da seção */
	max-width: 100%;
	/* Largura máxima responsiva */
	width: 100%;
	/* Para ocupar toda a largura */
	background: var(--branco);
	box-shadow: 0 10px 20px -10px var(--shadow1);
	display: flex;
	overflow: hidden;
}

.slide {
	height: 70px;
	display: flex;
	align-items: center;
	animation: slideshow 50s linear infinite;
}

.slide img {
	width: 190px !important;
	height: 50px !important;
	padding: 0 50px 0 50px;
}

@keyframes slideshow {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.slider::before,
.slider::after {
	height: 100px;
	width: 200px;
	position: absolute;
	content: "";
	background: linear-gradient(to right, var(--branco) 0%, var(--shadow2) 100%);
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}


/*----------- SEÇÃO SOBRE -----------*/
#about {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 80px 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 0px;
}

#about {
	background-image: url(../images/background_about.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#about .content {
	padding-top: 10px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10vh;
	padding: 70px 0px 5px 0px;
	text-align: justify;
}

#about h3 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 3px solid #00000054;
}

#about p {
	font-size: 1rem;
}

#about b {
	color: var(--cinza800);
}

#about #textAbout {
	margin-right: 5em;
	margin-left: 80px;
}

#about .img {
	width: 25em;
	border: 10px solid var(--branco);
	margin-left: 5em;
	border-radius: 10px;
}



/*----------- SEÇÃO PROGRAMAÇÃO -----------*/
#programacao {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 90px 40px 0px 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#programacao {
	background-image: url(../images/background_programacao.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#programacao .content {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10vh;
	padding: 80px 0px 10px 0px;
	gap: 20px;
}

#programacao h3 {
	font-size: 2.5rem;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 2px solid #0000009a;
	text-align: center;
	position: absolute;
	top: 03%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.days {
	position: flex;
	background-color: var(--vermelhoescuro);
	width: 420px;
	padding: 30px;
	border-radius: 10px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	color: var(--branco);
	align-items: center;
	transition: 0.3s all;
}

.days:hover {
	background-color: var(--vermelhoclaro);
	width: 450px;
}

.days h2 {
	font-size: 1.3rem;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 3px solid var(--branco);
	align-items: center;
	text-align: center;
}

.days p {
	font-size: 1.3rem;
	font-weight: 700;
}

.days summary {
	margin-top: 12px;
	font-size: 20px;
	cursor: pointer;
	border-bottom: 3px solid var(--branco);
	padding: 5px;
}

summary::marker {
	content: "";
	width: 10px;
	height: 10px;
	margin-left: 10px;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	transform: translateY(2px);
}

.days details {
	background-color: var(--vermelhoescuro);
	transition: 0.3s all;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
}

.days details:hover {
	background-color: #dd6161;
}

.days details li {
	text-decoration: none;
	font-size: 17px;
	margin-left: 10px;
	margin-top: 5px;
}

ul {
	list-style-type: none;
	/* Remove as bolinhas da lista não ordenada */
}



/*----------- SEÇÃO FAQ -----------*/
#faq {
	position: relative;
	width: 100%;
	min-height: 50vh;
	padding: 90px 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 0px;
}

#faq {
	background-image: url(../images/background_faq.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#faq .content {
	padding-top: 10px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10vh;
	padding: 10px 0px 100px 0px;
	text-align: justify;
	flex-direction: column;
}

#faq .introduction {
	margin-bottom: 2rem;
}

#faq h3 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 3px solid #00000054;
	text-align: center;
}

.questions {
	width: 100%;
	max-width: 900px;
	font-size: 1rem;
}

.questions details summary {
	background-color: #63979b;
	padding: 20px;
	color: #fff;
	border-radius: 0.5rem;
	transition: .3s ease-in-out;
}

.questions details p {
	background-color: #fff;
	color: #333;
	padding: 2%;
	border-radius: 0.5rem;
}

.questions details {
	border-radius: 0.5rem;
	margin: 10px 0;
	background-color: #ffffff;
}

.questions summary:hover {
	background-color: #f79c9c;
}




/*----------- SEÇÃO QUEM SOMOS -----------*/
#quemsomos {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 90px 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#quemsomos {
	background-image: url(../images/background_quemsomos.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#quemsomos .content {
	padding-top: 10px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10vh;
	padding: 100px 0px 100px 0px;
	text-align: justify;
}

#quemsomos h3 {
	font-size: 2.5rem;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 2px solid #0000009a;
	text-align: center;
	position: absolute;
	top: 03%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.member img {
	max-width: 250px;
	border: var(--vermelhoescuro) 10px solid;
	border-radius: 50%;
	transition: transform 0.3s, filter 0.3s;
}

.member {
	position: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	align-items: center;
	transition: 0.3s all;

	margin-top: 100px;
}

.member:hover {
	cursor: pointer;
	transform: scale(1.05);
	/* Aumenta o tamanho em 5% */
	filter: brightness(1.2);
	/* Torna a imagem 20% mais brilhante */
}

.description {
	margin-top: 1.5rem;
	text-align: center;

}

.description h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	padding-top: 20px;
	align-items: center;
	text-align: center;
}

.description p {
	font-size: 20px;
}

/*----------- SEÇÃO PREMIAÇÃO -----------*/
#award {
	background-image: url(../images/background_award.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 90px 40px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.line {
	flex: 1;
	height: 3px;
	background-color: #00000054;
	margin: 0 10px;
}

.title {
	text-align: center;
}

.title-container {
	display: flex;
	align-items: center;
}

#award h3 {
	font-size: 2.5rem;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 30px;
}

#award h4 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 30px;
}


.image-award {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.image-item {
	display: inline-block;
	margin: 10px;
	text-align: center;
	max-width: 25%;
	vertical-align: top;
}

.image-item img {
	width: 100%;
	height: auto;
	transition: transform 0.3s;
	/* Adiciona uma transição suave de 0.3 segundos */
}

.image-item img:hover {
	transform: scale(1.1);
	/* Aumenta o tamanho da imagem em 10% quando o mouse passar por cima */
}


.image-item p {
	margin-top: 5px;
}


/*----------- SEÇÃO CONTATO-----------*/
#contact {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 40px 40px;
	padding-left: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(../images/background_contact.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#contact h3 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Adicione este trecho para aumentar o tamanho do texto do conteúdo */
#contact .content-contact p {
	font-size: 1.5em;
	/* Ajuste o tamanho do texto para 1.1em (por exemplo) */
}

#contact .content-contact {
	padding-top: 10px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10vh;
	padding: 100px 0px 100px 0px;
	text-align: justify;
	flex-direction: row-reverse;
	/* Altera a direção dos itens para inverter a ordem */
}

.img {
	width: 25em;
	border: 10px solid var(--branco);
	border-radius: 10px;
	margin-right: 5em;
	/* Ajusta a margem para posicionar a imagem do lado direito */
	margin-left: 0;
	/* Remove a margem à esquerda */
}

#contact h3 {
	margin-right: 20px;
	/* Ajusta a margem entre o texto e a imagem */
}

.contact-info {
	display: flex;
	align-items: center;
}

.contact-info a {
	color: var(--preto);
	text-decoration: none;
	font-weight: 500;
	transition: .3s ease-in-out;
}

.contact-info a:hover {
	color: var(--vermelhoclaro);
	font-weight: 500;
}

.img-phone,
.img-email,
.img-instagram {
	width: 50px;
	/* Ajuste o tamanho conforme necessário */
	height: 50px;
	/* Ajuste o tamanho conforme necessário */
	margin-right: 20px;
	/* Adicione margem entre as imagens e os links */
}

/*----------- FOOTER-----------*/
footer {
	background-color: var(--vermelhoclaro);
	text-align: center;
	padding: 20px 0;
	bottom: 0;
	width: 100%;
	z-index: 999;
}

.footer-content {
	font-size: 14px;
	color: var(--branco);
}


/*----------- TOP -----------*/
/* Estilize o botão conforme necessário */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    font-size: 18px;
	font-weight: 600;
    border: none;
    outline: none;
    background-color:rgb(37, 37, 37);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 100px;
	transition: .3s ease-in-out;
}

#myBtn:hover {
    background-color: rgb(56, 56, 56);
}
